[user]
	name = Daniel Sommermann
	email = dcsommer@whatsapp.com
[alias]
	lol = log --graph --decorate --oneline
	lola = log --graph --decorate --oneline --all
	lg = log --color --graph --pretty=format:'%Cred%h %Cgreen(%ci)%Creset -%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit --
[color]
	ui = auto
[branch]
	autosetuprebase = always
[branch "master"]
	rebase = true
[core]
    whitespace = trailing-space,space-before-tab
