[user]
	name = Daniel Sommermann
	email = dcsommer@gmail.com
[alias]
	lol = log --graph --decorate --oneline
	lola = log --graph --decorate --oneline --all
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[color]
	ui = auto
