[submodule "dotfiles/.emacs.d/lisp/lib/expand-region"]
	path = dotfiles/.emacs.d/lisp/expand-region
	url = https://github.com/emacsmirror/expand-region.git
[submodule "dotfiles/.emacs.d/lisp/lib/haskell-mode"]
	path = dotfiles/.emacs.d/lisp/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "dotfiles/.emacs.d/lisp/lib/gomode"]
	path = dotfiles/.emacs.d/lisp/gomode
	url = https://github.com/dominikh/go-mode.el.git
[submodule "dotfiles/.emacs.d/lisp/lib/rust-mode"]
	path = dotfiles/.emacs.d/lisp/rust-mode
	url = git@github.com:rust-lang/rust-mode.git
