[submodule "dotfiles/.emacs.d/lib/expand-region"]
	path = dotfiles/.emacs.d/lib/expand-region
	url = https://github.com/emacsmirror/expand-region.git
[submodule "dotfiles/.emacs.d/lib/haskell-mode"]
	path = dotfiles/.emacs.d/lib/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
